body {
  background-color: #ede8ff;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Pixelify Sans", sans-serif;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: #796cff;
  z-index: 10;
}
.header > img {
  height: 50px;
  margin-left: 20px;
  cursor: pointer;
}
.header-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-right: 20px;
}
.header-buttons-container > button {
  background-color: #ede8ff;
  border: none;
  padding: 15px 0;
  width: 120px;
  font-size: 18px;
  color: #4b3fbe;
  cursor: pointer;
  transition: 0.15s;
}
.header-buttons-container > button:hover {
  box-shadow: 7px 7px 0px #4b3fbe;
  transform: translate(-3px, -3px);
}
.header-buttons-container > button:active {
  background-color: #e1daff;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 90px;
  min-height: calc(100vh - 90px);
  gap: 20px;
}
.body-welcome-container {
  margin-left: 80px;
  flex: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.body-welcome-container > button {
  margin-top: 10px;
  background-color: #796cff;
  color: white;
  border: none;
  padding: 20px 0;
  width: 170px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.15s;
}
.body-welcome-container > button:hover {
  box-shadow: 7px 7px 0px #4b3fbe;
  transform: translate(-3px, -3px);
}
.body-welcome-container > button:active {
  background-color: #8c82ff;
}
.body-welcome-container > p {
  color: rgb(57, 57, 57);
}
.body-editor-container {
  margin-right: 80px;
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.body-editor-header {
  display: flex;
  justify-content: space-between;
  width: 700px;
}
.body-editor-header > button.active {
  background-color: #796cff;
  color: white;
}
.body-editor-header > button {
  width: 100%;
  padding: 20px 0;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #e1daff;
  border-bottom: 1px solid white;
  transition: 0.15s;
}
.body-editor-header > button:hover {
  background-color: #796cff;
  color: white;
}
.body-editor-content {
  width: 700px;
  height: 400px;
  background-color: #e1daff;
}
.body-editor-content > p {
  margin: 20px;
  color: rgb(57, 57, 57);
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
}

.body-aboutus-container {
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  align-items: start;
  background-color: #796cff;
  color: white;
}
.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 300px;
}
.bio-container > h1 {
  font-size: 20px;
}
.bio-container > p {
  text-align: center;
}
.bio-container > img {
  width: 100px;
  border-radius: 100px;
}

@media (max-width: 1000px) {
  .body {
    flex-direction: column;
    margin: 0;
    margin-top: 120px;
    margin-bottom: 50px;
  }
  .body-editor-header {
    width: 90%;
    min-width: 90%;
  }
  .body-editor-content {
    width: 90%;
    min-width: 90%;
  }
  .body-welcome-container,
  .body-editor-container {
    align-items: center;
    margin: 0 30px;
  }
  .body-welcome-container > p {
    text-align: center;
  }
  .body-aboutus-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
